@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'),
       url('../fonts/gilroylight.woff2') format('woff2'),
       url('../fonts/gilroylight.woff') format('woff'),
       url('../fonts/gilroylight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'),
       url('../fonts/gilroyextrabold.woff2') format('woff2'),
       url('../fonts/gilroyextrabold.woff') format('woff'),
       url('../fonts/gilroyextrabold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


body {
  color: #464646;
  font: 300 15px/30px 'Open Sans', 'Arial', sans-serif;
  letter-spacing: 0.01em;
}


a {
  text-decoration: none;
}


/* Typography ------------------------------------------ */
.slider-item-title,
.services-list h3,
.main-about-us h2,
.main-contacts h2,
.page-title {
  font-weight: 700;
  font-size: 47px;
  line-height: normal;
  font-family: 'Gilroy', 'Arial', sans-serif;
  letter-spacing: 0.01em;
  color: #000000;
}

.category-products-list h3,
.catalog-inner-list h4 {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Gilroy', 'Arial', sans-serif;
  letter-spacing: 0.01em;
}

.filters h3,
.sorting h3 {
  font: 700 16px 'Gilroy', 'Arial', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}


/* Modules --------------------------------------------- */
.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  position: relative;
  height: 300px;
  margin-top: 40px;
  padding: 0 60px 40px;

  background-color: #f7e296;
}

.main-header.inner-page-header {
  height: auto;
}

.main-header-row-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  -webkit-box-ordinal-group: 3;

      -ms-flex-order: 2;

          order: 2;

  margin-bottom: 20px;
}

.main-header-row-bottom {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}


.main-footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;

  padding: 65px 0;
  padding-top: 60px;
}


main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;

  min-width: 1200px;
}

.inner-page {
  padding-top: 30px;
}

.page-title {
  margin-top: 0;
  margin-bottom: 15px;
  margin-left: 60px;
}


.header-logo {
  margin-top: -20px;
  margin-bottom: 17px;
}

.header-logo img {
  display: block;
}


.main-navigation ul {
  margin: 0;
  list-style: none;
}

.main-navigation > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  padding: 0;
}

.main-navigation > ul > li:first-child {
  width: 520px;
}

.main-navigation > ul > li:last-child {
  margin-left: auto;
}

.main-navigation > ul > li:last-child a {
  padding-right: 0;
}

.main-navigation .catalog-link {
  display: inline-block;
  padding: 10px 150px 10px 0;

  background-image: url('../img/plus.svg');
  background-position: center right 125px;
  background-repeat: no-repeat;
  background-size: 16px;
}

.catalog-link:hover + .main-navigation-catalog,
.catalog-link:focus + .main-navigation-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-navigation a {
  display: inline-block;
  padding: 10px 18px;
  vertical-align: middle;

  font: 700 18px 'Gilroy', 'Arial', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus {
  opacity: 0.6;
}

.main-navigation a:focus {
  outline: none;
}

.main-navigation a:active {
  opacity: 0.3;
}

.main-navigation-catalog {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  position: absolute;
  left: 0;
  z-index: 2;

  display: none;


  width: 100%;
  min-height: 154px;
  padding: 11px 60px;

  background-color: #f7e296;
}

.main-navigation-catalog:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-navigation-catalog li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 160px;
          flex: 0 0 160px;
}

.main-navigation-catalog li:first-child,
.main-navigation-catalog li:last-child {
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
}

.main-navigation-catalog li:not(:last-child) {
  margin-right: 40px;
}

.main-navigation-catalog a {
  display: block;
  padding: 0;
  font: 300 15px/36px 'Open Sans', 'Arial', sans-serif;
  letter-spacing: 0.01em;
  text-transform: none;
  color: #000000;
}

.main-navigation-catalog a:hover,
.main-navigation-catalog a:focus {
  opacity: 0.6;
}

.main-navigation-catalog a:active {
  opacity: 0.3;
}


.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  -ms-flex-negative: 0;

      flex-shrink: 0;

  width: 510px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-navigation a {
  display: inline-block;
  padding: 0 10px 0 35px;
  vertical-align: middle;

  line-height: 36px;
  color: #000000;
}

.user-navigation a:hover,
.user-navigation a:focus {
  opacity: 0.6;
}

.user-navigation a:focus {
  outline: none;
}

.user-navigation a:active {
  opacity: 0.3;
}

.user-navigation > li:last-child a {
  padding-right: 0;
}

.login-link a,
.compare-link a,
.card-link a,
.profile-link a {
  background-position: center left 10px;
  background-repeat: no-repeat;
}

.login-link a,
.profile-link a {
  background-image: url('../img/user.svg');
  background-size: 13px 12px;
}

.compare-link a {
  background-image: url('../img/compare.svg');
  background-size: 10px 10px;
  background-position: center left 17px;
}

.card-link,
.compare-link {
  margin-left: 20px;
}

.user-navigation .login-link,
.user-navigation .logout-link {
  margin-right: auto;
}

.card-link a {
  background-image: url('../img/cart.svg');
  background-size: 12px 12px;
}

.logout-link a {
  padding-left: 10px;
  opacity: 0.3;
}


.header-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 440px;
}

.header-search input[type=text] {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;

  padding: 5px 40px;
  font: inherit;
  line-height: 36px;
  color: #000000;
  background-color: transparent;
  background-image: url('../img/search.svg');
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 16px;
  border-bottom: 2px solid transparent;
}

.header-search input[type=text]:hover {
  background-color: transparent;
}

.header-search input[type=text]:focus {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #000000;
}

.header-search input[type=text] + .btn-search {
  display: inline-block;
  vertical-align: middle;

  visibility: hidden;
}

.header-search input[type=text]:focus + .btn-search,
.header-search input[type=text] + .btn-search:hover,
.header-search input[type=text] + .btn-search:focus {
  visibility: visible;
}

.header-search input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.header-search input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.header-search input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.header-search input:placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.header-search input:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.header-search input:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.header-search input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.header-search input:hover:placeholder {
  color: rgba(0, 0, 0, 0.6);
}


.btn-search {
  padding: 5px 20px;
  font: inherit;
  line-height: 36px;
  color: #000000;
  background-color: transparent;
  border: 2px solid #000000;
  cursor: pointer;
}

.btn-search:hover,
.btn-search:focus {
  color: #ffffff;
  background-color: #000000;
}

.btn-search:focus {
  outline: none;
}

.btn-search:active span {
  opacity: 0.3;
}


.slider {
  position: relative;
  margin-top: -35px;
  margin-bottom: 80px;
  padding-bottom: 35px;
  padding-right: 60px;
}

.slider-item {
  position: relative;

  display: none;
}

.slider-item.slider-item-current {
  display: block;
}

.slider-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  width: 500px;
  min-height: 400px;
  margin-left: auto;
}

.slider-item-title {
  position: relative;

  margin-bottom: 16px;
}

.slider-item-table {
  display: block;
  width: 500px;
  max-height: 90px;
  overflow: hidden;
}

.slider-item-table tbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider-item-table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.slider-item-table td {
  padding: 0;
}

.slider-item-table tr:not(:last-child) {
  -ms-flex-negative: 0;
      flex-shrink: 0;

  margin-right: 20px;
}

.slider-item-table tr:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 140px;
          flex: 0 0 140px;
}

.slider-item-table tr:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
}

.slider-item-table tr:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.slider-item-image {
  position: absolute;
  top: -75px;
  left: 0;

  max-width: 565px;
  width: 100%;
  margin: 0;

  text-align: center;
}

.slider-item-image img {
  max-height: 495px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.slider-item-text {
  margin-top: 0;
  margin-bottom: 42px;
}

.slider-item-button {
  margin: auto 0 55px;
}

.slider-item-table td:last-child {
  margin-bottom: 10px;
}

.slider-item-number {
  position: absolute;
  top: -90px;
  right: -12px;
  font: 700 179.2px/179.2px 'Gilroy', 'Arial', sans-serif;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.slider-item td:first-child {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
}

.slider-item td:nth-child(2) {
  font: 300 36px 'Gilroy', 'Arial', sans-serif;
}

#slider-control-01:checked ~ #slide-01 {
  display: block;
}

#slider-control-02:checked ~ #slide-02 {
  display: block;
}

#slider-control-03:checked ~ #slide-03 {
  display: block;
}


.category-products {
  margin-bottom: 152px;
}

.category-products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0;
  padding: 0;
  list-style: none;
  line-height: normal;
}

.category-products-list li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 160px;
          flex: 0 0 160px;
}

.category-products-list li {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.category-products-list li:nth-child(6n + 1) {
  margin-left: 0;
}

.category-products-list li:nth-child(6n) {
  margin-right: 0;
}

.category-products-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.category-products-list h3 {
  margin: 0;
}

.products-list-image {
  position: relative;
  width: 160px;
  height: 160px;
  margin-bottom: 32px;
  background-color: #f7e296;
}

.products-list-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: center no-repeat;
}

.image-virtual::before {
  background-image: url('../img/popular-1.svg');
}

.image-monopode::before {
  background-image: url('../img/popular-2.svg');
  background-position: bottom;
}

.image-action-camera::before {
  background-image: url('../img/popular-3.svg');
}

.image-fitness-brace::before {
  background-image: url('../img/popular-4.svg');
}

.image-smart-watch::before {
  background-image: url('../img/popular-5.svg');
}

.image-quadrupter::before {
  background-image: url('../img/popular-6.svg');
}

.category-products-list a:hover .products-list-image,
.category-products-list a:focus .products-list-image {
  background-color: #f0c52e;
}

.category-products-list a:focus {
  outline: none;
}

.category-products-list a:active h3,
.category-products-list a:active .products-list-image::before {
  opacity: 0.3;
}


.services {
  margin-bottom: 95px;
  padding: 12px 0 70px;
  background-color: #e5e5e5;
}

.services-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-top: -110px;
}

.services-list-anchor {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 284px;
          flex: 0 0 284px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;

  margin: 0;
  padding: 80px 0 68px;
  list-style: none;
  border-right: 7px solid #000000;
}

.services-list-anchor a {
  position: relative;

  display: inline-block;
  width: 100%;
  padding-top: 9px;
  padding-bottom: 9px;
  vertical-align: middle;

  font: 700 18px 'Gilroy', 'Arial', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: left;
  color: #000000;
}

.services-list-anchor span {
  position: relative;

  display: block;
  width: 160px;

  text-align: center;
}

.services-list-anchor a::before {
  content: '';

  position: absolute;
  top: 50%;
  left: 0;

  display: block;
  width: 160px;
  height: 8px;

  background-color: #f0c52e;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: height 0.2s ease-in-out;
  -o-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
}

.services-list-anchor a:focus {
  outline: none;
}

.services-list-anchor a:hover::before,
.services-list-anchor a:focus::before {
  height: 100%;
}

.services-list-anchor a:active,
.services-list-anchor-current a {
  color: #f7e184;
}

.services-list-anchor a:active::before,
.services-list-anchor-current a::before {
  width: 100%;
  height: 100%;
  background-color: #000000;
}

.services-list {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;

  margin: 0;
  padding-left: 120px;
  list-style: none;
}

.services-list li {
  position: relative;

  display: none;
  margin-top: 66px;
}

.services-list .services-list-current {
  display: block;
}

.services-list-anchor li:not(:last-child) {
  margin-bottom: 25px;
}

.services-list h3 {
  width: 480px;
  margin-top: 0;
  margin-bottom: 28px;
}

.services-list p {
  width: 480px;
  margin: 0;
}

.services-list-image {
  position: absolute;
  right: 65px;
  bottom: -6px;

  width: 300px;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.image-delivery {
  width: 136px;
  height: 164px;
  background-image: url('../img/delivery.svg');
}

.image-guarantee {
  width: 171px;
  height: 194px;
  background-image: url('../img/warranty.svg');
}

.image-credit {
  width: 156px;
  height: 186px;
  background-image: url('../img/credit.svg');
}


.brands {
  margin-bottom: 84px;
}

.brands-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0;
  padding: 0;
  list-style: none;
}

.brands-list li:first-child {
  margin-left: 10px;
}

.brands-list li:last-child {
  margin-right: 10px;
}

.brands-list svg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.2;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.brand-dji svg {
  background-image: url('../img/brand-dji.png');
}

.brand-sp-gadgets svg {
  background-image: url('../img/brand-sp-gadgets.png');
}

.brand-go-pro svg {
  background-image: url('../img/brand-go-pro.png');
}

.brand-vive svg {
  background-image: url('../img/brand-vive.png');
}

.brands-list a:hover svg,
.brands-list a:focus svg {
  opacity: 1;
}

.brands-list a:hover image,
.brands-list a:focus image {
  opacity: 0;
}

.brands-list a:focus {
  outline: none;
}


.main-bottom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 81px;
}


.main-about-us strong {
  font: 700 16px/40px 'Gilroy', 'Arial', sans-serif;
  letter-spacing: 0;
  color: #000000;
}

.main-about-us {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 560px;
          flex: 0 0 560px;
  margin-right: 40px;
}

.main-about-us p {
  margin: 30px 0;
  letter-spacing: 0;
}

.main-about-us .button {
  padding-left: 22px;
  padding-right: 22px;
}

.about-us-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  margin-bottom: 55px;
  min-height: 245px;
}

.main-contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 560px;
          flex: 0 0 560px;
}

.main-contacts iframe {
  border: 0;
}

.main-contacts p {
  margin: 40px 0;
  letter-spacing: 0;
}

.main-contacts *:first-child,
.main-about-us *:first-child{
  margin-top: 0;
}

.main-contacts *:last-child,
.main-about-us *:last-child {
  margin-bottom: 0;
}

.main-contacts .main-contacts-map {
  margin-bottom: 58px;
}


.main-footer {
  min-width: 1200px;
  color: #ffffff;
  background-color: #464646;
}

.main-footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;

  margin-bottom: 20px;
}

.main-footer-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;

  margin-bottom: 60px;
}

.main-footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-footer-bottom::before {
  -ms-flex-negative: 0;
      flex-shrink: 0;

  content: '';
  display: block;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.main-footer a {
  color: #ffffff;
}


.footer-logo {
  margin: 5px 0 0;
}

.footer-logo a:hover,
.footer-logo a:focus {
  opacity: 0.6;
}

.footer-logo a:focus {
  outline: none;
}

.footer-logo a:active {
  opacity: 0.3;
}


.footer-user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-user-navigation a {
  display: inline-block;
  padding: 0 10px 0 35px;
  vertical-align: middle;

  line-height: 36px;

  background: none;
  opacity: 1;
}

.footer-user-navigation span {
  opacity: 0.7;
}

.footer-user-navigation a:hover span,
.footer-user-navigation a:focus span {
  opacity: 1;
}

.footer-user-navigation a:focus {
  outline: none;
}

.footer-user-navigation a:active span{
  opacity: 0.3;
}

.footer-user-navigation li {
  position: relative;
}

.footer-user-navigation a::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-user-navigation a:hover::after,
.footer-user-navigation a:focus::after {
  opacity: 0.6;
}

.footer-user-navigation a:active::after {
  opacity: 0.3;
}

.footer-user-navigation .login-link a::after,
.footer-user-navigation .logout-link a::after {
  width: 13px;
  height: 12px;
  background-image: url('../img/user-yellow.svg');
  background-size: 13px 12px;
}

.footer-user-navigation .compare-link a::after {
  width: 10px;
  height: 10px;
  background-image: url('../img/compare-yellow.svg');
  background-size: 10px 10px;
}

.footer-user-navigation .card-link a::after {
  width: 12px;
  height: 12px;
  background-image: url('../img/cart-yellow.svg');
  background-size: 12px 12px;
}

.footer-user-navigation > li:last-child a {
  padding-right: 0;
}


.footer-main-navigation {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;

  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.footer-main-navigation li {
  display: inline-block;
  vertical-align: middle;
}

.footer-main-navigation a {
  padding: 10px 15px;
  font: 700 18px 'Gilroy', 'Arial', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-main-navigation a:hover,
.footer-main-navigation a:focus {
  opacity: 0.6;
}

.footer-main-navigation a:focus {
  outline: none;
}

.footer-main-navigation a:active {
  opacity: 0.3;
}


.footer-social-list {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
  text-align: center;
}

.footer-social-list li {
  display: inline-block;
  vertical-align: middle;

  line-height: 1;
}

.footer-social-list li:not(:last-child) {
  margin-right: 20px;
}

.footer-social-list a {
  display: block;
  width: 32px;
  height: 32px;

  background: center no-repeat;
  opacity: 0.3;
}

.footer-social-list a:hover,
.footer-social-list a:focus {
  opacity: 0.6;
}

.footer-social-list a:focus {
  outline: none;
}

.footer-social-list a:active {
  opacity: 0.1;
}

.facebook-link a {
  background-image: url('../img/fb.svg');
}

.instagram-link a {
  background-image: url('../img/instagram.svg');
}

.twitter-link a {
  background-image: url('../img/twitter.svg');
}


.footer-address,
.footer-phone {
  margin: 0;
  letter-spacing: 0;
}

.footer-address {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.footer-phone {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;

  text-align: right;
}

.footer-phone a:hover,
.footer-phone a:focus {
  text-decoration: underline;
}

.footer-phone a:focus {
  outline: none;
}


.footer-copyright {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;

  margin: 0;
  text-align: right;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  opacity: 0.6;
}

.footer-copyright a:focus {
  outline: none;
}

.footer-copyright a:active {
  opacity: 0.3;
}


.message-modal label {
  font: 700 18px/18px 'Gilroy', 'Arial', sans-serif;
  letter-spacing: 0;
}


.map-modal iframe {
  border: 0;
}


.breadcrumbs {
  margin: 0 0 40px 60px;
  padding: 0;
  list-style: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 36px;
}

.breadcrumbs li {
  display: inline-block;
  vertical-align: middle;
}

.breadcrumbs li:last-child {
  opacity: 0.3;
}

.breadcrumbs li:not(:last-child)::after {
  content: '';

  display: inline-block;
  width: 4px;
  height: 7px;
  padding: 0 8px;
  vertical-align: middle;

  background: url('../img/nav-arrow.svg') center no-repeat;
  background-size: 4px 7px;
}

.breadcrumbs a {
  padding: 8px;

  color: #000000;

  opacity: 0.3;
}

.breadcrumbs li:first-child a {
  padding-left: 0;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  opacity: 0.6;
}

.breadcrumbs a:focus {
  outline: none;
}

.breadcrumbs a:active {
  opacity: 0.1;
}


.inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-inner-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 850px;
          flex: 0 0 850px;
}


.filter-left-wrapper,
.filter-right-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.filter-left-wrapper {
  background-color: #eeeeee;
}

.filter-left-wrapper::before,
.filter-right-wrapper::before {
  content: '';

  display: block;
  padding: 25px 0;
  height: 20px;

  background-color: rgba(0, 0, 0, 0.08);

  -webkit-box-sizing: content-box;

          box-sizing: content-box;
}

.filters {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 350px;
          flex: 0 0 350px;

  background-color: #eeeeee;
}

.filters h3 {
  margin: 0;
  padding: 25px 70px 25px 80px;

  line-height: 20px;

  background-color: rgba(0, 0, 0, 0.08);
}

.filters form {
  padding: 70px 70px 0 80px;
}

.filters fieldset {
  margin: 0 0 40px;
  padding: 0;
  border: 0;
}

.filters legend {
  width: 100%;
  margin-bottom: 15px;
  padding-top: 10px;
  font: 700 18px 'Gilroy', 'Arial', sans-serif;
  letter-spacing: 0.01em;
  border-top: 2px solid #000000;
}

.filters label {
  font-size: 14px;
  line-height: 40px;
}

.filters-price label {
  line-height: 22px;
  letter-spacing: 0;
  opacity: 0.2;
}

.filters-color ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filters-bluetooth ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


.range-filters {
  position: relative;
  width: 100%;
  height: 50px;
  padding-top: 20px;
}

.scale {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #dbdbdb;
}

.scale .bar {
  position: absolute;
  left: 0;

  width: 60%;
  height: 2px;

  background-color: #91c92f;
}

.toogle {
  position: absolute;
  top: 11px;
  width: 20px;
  height: 22px;
  background: url('../img/filter-button.svg') center no-repeat;
  background-size: cover;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.toogle:active {
  -webkit-transform: translateX(-50%) scale(1.1);
      -ms-transform: translateX(-50%) scale(1.1);
          transform: translateX(-50%) scale(1.1);
}

.filters-price {
  position: relative;
}

#filters-prices-from:not(:disabled) ~ .range-filters .toggle-min,
#filters-prices-to:not(:disabled) ~ .range-filters .toggle-max {
  cursor: pointer;
}

.range-filters-label {
  position: absolute;
  top: 80px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.label-min {
  left: 0;
}

.label-max {
  left: 60%;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  left: 60%;
}


.filters .filters-color {
  margin-bottom: 30px;
}

.filters-color legend {
  margin-bottom: 20px;
}

.filters-color label,
.filters-bluetooth label {
  display: inline-block;
  vertical-align: middle;
}

.filters-color input:not(:disabled) + label,
.filters-bluetooth input:not(:disabled) + label {
  cursor: pointer;
}

.filters-color input[type=checkbox] + label::before {
  content: '';

  display: inline-block;
  width: 27px;
  height: 23px;
  margin-right: 15px;
  vertical-align: text-bottom;

  background: url('../img/checkbox-off.svg') center left no-repeat;
}

.filters-color input + label:hover::before,
.filters-color input:focus + label::before {
  opacity: 0.6;
}

.filters-color input[type=checkbox]:active + label::before {
  background-image: url('../img/checkbox-on.svg');
}

.filters-color input[type=checkbox]:checked + label::before {
  background-image: url('../img/checkbox-on.svg');
}

.filters-color input[type=checkbox]:checked + label:active::before {
  background-image: url('../img/checkbox-off.svg');
}


.filters .filters-bluetooth {
  margin-bottom: 30px;
}

.filters-bluetooth legend {
  margin-bottom: 20px;
}

.filters-bluetooth input[type=radio] + label::before {
  content: '';

  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 15px;
  vertical-align: text-bottom;

  background: url('../img/radio-off.svg') center left no-repeat;
}

.filters-bluetooth input[type=radio]:active + label::before {
  background-image: url('../img/radio-on.svg');
}

.filters-bluetooth input[type=radio]:checked + label::before {
  background-image: url('../img/radio-on.svg');
}

.filters-bluetooth input + label:hover::before,
.filters-bluetooth input:focus + label::before {
  opacity: 0.6;
}

.filters-bluetooth input[type=radio]:checked + label:active::before {
  background-image: url('../img/radio-off.svg');
}


.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;

  position: relative;
  padding-right: 20px;
  padding-left: 70px;

  background-color: rgba(0, 0, 0, 0.08);
}

.sorting h3 {
  margin: 0;
  padding: 25px 0;

  line-height: 20px;
}

.sorting-list {
  margin: 0 0 0 45px;
  padding: 25px 0;
  list-style: none;
  font-size: 14px;
  line-height: 18px;
}

.sorting-list li {
  display: inline-block;
  vertical-align: middle;
}

.sorting-list a {
  padding: 8px 13px;
  color: #000000;
  opacity: 0.3;
}

.sorting-list-current a,
.sorting-direction-current a{
  opacity: 1;
}

.sorting-list a:hover,
.sorting-list a:focus {
  opacity: 0.6;
}

.sorting-list a:focus {
  outline: none;
}

.sorting-list a:active,
.sorting-direction a:active {
  opacity: 1;
}


.sorting-direction {
  -ms-flex-negative: 0;
      flex-shrink: 0;

  margin: 0 0 0 auto;
  padding: 17px 0;
  list-style: none;
}


.direction-dir {
  display: inline-block;
  vertical-align: middle;
}

.direction-dir a {
  display: inline-block;
  width: 17px;
  height: 30px;
  vertical-align: middle;

  background-position: center;
  background-repeat: no-repeat;
}

.direction-dir-up a {
  margin-right: 7px;
  background-image: url('../img/icon-up-dir.svg');
}

.direction-dir-down a {
  background-image: url('../img/icon-down-dir.svg');
  background-position: center right;
}

.sorting-direction a {
  opacity: 0.2;
}

.sorting-direction a[href]:hover,
.sorting-direction a:focus {
  opacity: 0.4;
}

.sorting-direction a:focus {
  outline: none;
}

.sorting-direction a[href]:active {
  opacity: 1;
}

.direction-current a {
  opacity: 1;
}


.catalog-inner {
  padding-top: 70px;
  padding-bottom: 75px;
  padding-right: 20px;
  padding-left: 70px;
}

.catalog-inner-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-inner-list li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 360px;
          flex: 0 0 360px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;

  position: relative;
  margin-bottom: 50px;
}

.catalog-inner-header {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;

  max-width: 260px;
  margin: 0;
  line-height: normal;
}

.catalog-inner-header:hover,
.catalog-inner-header:focus {
  opacity: 0.6;
}

.catalog-inner-header:focus {
  outline: none;
}

.catalog-inner-header:active {
  opacity: 0.3;
}

.catalog-inner-header h4 {
  margin: 0;
}

.catalog-inner-price {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;

  max-width: 100px;
  margin: 0;
  font-size: 16px;
  line-height: normal;
}

.catalog-inner-image {
  position: relative;

  width: 360px;
  height: 380px;
  margin-top: 0;
  margin-bottom: 30px;
}

.catalog-inner-image p {
  margin: 0;
  background-color: #eeeeee;
}

.catalog-inner-image img {
  display: block;
}

.catalog-inner-image-wrapper:hover img,
.catalog-inner-image-wrapper:focus img {
  opacity: 0.7;
}

.catalog-inner-image-wrapper:hover .catalog-inner-wrapper-button,
.catalog-inner-image-wrapper:focus .catalog-inner-wrapper-button {
  visibility: visible;
}

.catalog-inner-image-wrapper:focus {
  outline: none;
}

.catalog-inner-header:hover + .catalog-inner-image-wrapper img,
.catalog-inner-header:focus + .catalog-inner-image-wrapper img {
  opacity: 0.7;
}

.catalog-inner-header:hover + .catalog-inner-image-wrapper > .catalog-inner-wrapper-button,
.catalog-inner-header:focus + .catalog-inner-image-wrapper > .catalog-inner-wrapper-button {
  visibility: visible;
}

.catalog-item-label {
  position: absolute;
  top: 30px;
  right: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 14px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.catalog-inner-wrapper-button {
  position: absolute;
  top: 170px;
  text-align: center;
  visibility: hidden;
}

.catalog-inner-wrapper-button:hover {
  visibility: visible;
}

.btn-compare {
  font: inherit;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.01em;
  background-color: transparent;
  border: 0;
  opacity: 0.5;
  cursor: pointer;
}

.btn-compare:hover,
.btn-compare:focus {
  opacity: 1;
}

.btn-compare:focus {
  outline: none;
}

.btn-compare:active {
  opacity: 0.2;
}


.catalog-inner-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  margin-top: -10px;

  background-color: rgba(0, 0, 0, 0.08);
}

.catalog-inner-pagination a {
  display: block;

  font: 700 16px 'Gilroy', 'Arial', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;

  opacity: 0.3;
}

.inner-pagination-list-current a {
  opacity: 1;
}

.catalog-inner-pagination li:not(.inner-pagination-list-current) a:hover,
.catalog-inner-pagination li:not(.inner-pagination-list-current) a:focus {
  opacity: 0.6;
}

.catalog-inner-pagination a:focus {
  outline: none;
}

.catalog-inner-pagination li:not(.inner-pagination-list-current) a:active {
  opacity: 1;
}

.inner-pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.inner-pagination-list li {
  display: inline-block;
  vertical-align: middle;
}

.inner-pagination-list a {
  padding: 25px 12px;
}

.catalog-inner-pagination a.pagination-forwback-link {
  padding: 25px 30px;
  opacity: 1;
}

.catalog-inner-pagination a.pagination-forwback-link:hover,
.catalog-inner-pagination a.pagination-forwback-link:focus {
  background-color: #d9d9d9;
}

.catalog-inner-pagination a.pagination-forwback-link:active span {
  opacity: 0.3;
}


.message-modal {
  width: 960px;
  padding: 90px 100px 70px;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2),
              0 20px 40px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2),
              0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-contacts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-contacts-wrapper input {
  width: 100%;
}

.message-modal-text textarea {
  width: 100%;
  height: 50%;
  resize: vertical;
}

.message-modal-name,
.message-modal-email {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 360px;
          flex: 0 0 360px;

  margin: 0 0 32px;
}

.message-modal-text {
  margin: 0 0 50px;
}


.map-modal {
  height: 559px;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}


@-webkit-keyframes modal {
  0% {
    -webkit-transform: translate(-50%, -2000px);
            transform: translate(-50%, -2000px);
  }

  70% {
    -webkit-transform: translate(-50%, calc(-50% + 30px));
            transform: translate(-50%, calc(-50% + 30px));
  }

  90% {
    -webkit-transform: translate(-50%, calc(-50% - 10px));
            transform: translate(-50%, calc(-50% - 10px));
  }

  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}


@keyframes modal {
  0% {
    -webkit-transform: translate(-50%, -2000px);
            transform: translate(-50%, -2000px);
  }

  70% {
    -webkit-transform: translate(-50%, calc(-50% + 30px));
            transform: translate(-50%, calc(-50% + 30px));
  }

  90% {
    -webkit-transform: translate(-50%, calc(-50% - 10px));
            transform: translate(-50%, calc(-50% - 10px));
  }

  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}


/* Elements -------------------------------------------- */
.button {
  position: relative;

  display: inline-block;
  padding: 5px 42px;
  vertical-align: middle;

  font: inherit;
  font-weight: 700;
  font-size: 18px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: #000000;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.button span {
  position: relative;
}

.button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: block;
  height: 8px;
  background-color: #f0c52e;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: height 0.2s ease-in-out;
  -o-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
}

.button:hover::before,
.button:focus::before {
  height: 100%;
}

.button:focus {
  outline: none;
}

.button:active span {
  opacity: 0.3;
}


.header-logo a:hover,
.header-logo a:focus {
  opacity: 0.6;
}

.header-logo a:focus {
  outline: none;
}

.header-logo a:active {
  opacity: 0.3;
}


.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;

  display: none;
  margin: 0 auto;

  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

  background-color: #ffffff;
}

.modal-open {
  display: block;

  -webkit-animation: modal 0.6s;

          animation: modal 0.6s;
}

.modal .modal-close {
  position: absolute;
  top: 26px;
  right: 20px;
}

.modal-close {
  width: 55px;
  height: 55px;
  background: url('../img/modal-close.svg') center no-repeat;
  border: 0;
  opacity: 0.5;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:focus {
  outline: none;
}

.modal-close:active {
  opacity: 0.3;
}


.slider-control {
  position: absolute;
  right: 83px;
  bottom: 168px;
  z-index: 1;
}

.slider-control label {
  display: inline-block;
  width: 12px;
  height: 12px;
  vertical-align: middle;

  background: url('../img/slider-button-empty.svg') center no-repeat;
  background-size: cover;

  cursor: pointer;
}

.slider-control label:not(:last-child) {
  margin-right: 17px;
}

#slider-control-01:checked ~ .slider-control label[for=slider-control-01],
#slider-control-02:checked ~ .slider-control label[for=slider-control-02],
#slider-control-03:checked ~ .slider-control label[for=slider-control-03] {
  background-image: url('../img/slider-button.svg');
}


input[type=text],
input[type=password],
input[type=email],
textarea {
  padding: 17px 20px;
  font: normal 14px/18px 'Open Sans', 'Arial', sans-serif;
  color: #464646;
  background-color: rgba(229, 229, 229, 0.5);
  border: 0;
}

input[type=text]:hover,
input[type=password]:hover,
input[type=email]:hover,
textarea:hover {
  background-color: rgba(229, 229, 229, 0.8);
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
textarea:focus {
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 0 0 3px #f0c52e;
          box-shadow: inset 0 0 0 3px #f0c52e;
  outline: none;
}

input[type=text]:invalid,
input[type=password]:invalid,
input[type=email]:invalid,
textarea:invalid {
  background-color: rgba(237, 181, 181, 0.5);
}

input[type=text]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

input[type=text]::-moz-placeholder,
input[type=password]::-moz-placeholder,
input[type=email]::-moz-placeholder,
textarea::-moz-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

input[type=text]:-moz-placeholder,
input[type=password]:-moz-placeholder,
input[type=email]:-moz-placeholder,
textarea:-moz-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

input[type=text]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}


html {
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}


img {
  max-width: 100%;
  height: auto;
}


.section-title {
  position: relative;
  margin-top: 0;
  margin-bottom: 40px;
  padding-top: 45px;
}

.section-title::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.custon-list-1 {
  margin: 0;
  padding: 0;
  list-style: none;
}

.custon-list-1 > li {
  position: relative;
  padding-left: 38px;
}

.custon-list-1 > li::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);

  display: block;
  width: 18px;
  height: 18px;

  background: url('../img/list-style-circle.svg') center no-repeat;
  background-size: 18px;
}


.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}


.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden,
*[hidden] {
  display: none;
}
