@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'),
       url('../fonts/gilroylight.woff2') format('woff2'),
       url('../fonts/gilroylight.woff') format('woff'),
       url('../fonts/gilroylight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'),
       url('../fonts/gilroyextrabold.woff2') format('woff2'),
       url('../fonts/gilroyextrabold.woff') format('woff'),
       url('../fonts/gilroyextrabold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


body {
  color: #464646;
  font: 300 15px/30px 'Open Sans', 'Arial', sans-serif;
  letter-spacing: 0.01em;
}


a {
  text-decoration: none;
}


ul {
  list-style-type: circle;
}


/* Typography ------------------------------------------ */
.slider-item-title,
.services-list h3,
.main-about-us h2,
.main-contacts h2,
.page-title {
  font-weight: 700;
  font-size: 47px;
  line-height: normal;
  font-family: 'Gilroy', 'Arial', sans-serif;
  letter-spacing: 0.01em;
  color: #000000;
}

.category-products-list h3,
.catalog-inner-list h4 {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Gilroy', 'Arial', sans-serif;
  letter-spacing: 0.01em;
}

.filters h3,
.sorting h3 {
  font: 700 16px 'Gilroy', 'Arial', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}


/* Modules --------------------------------------------- */
.main-header {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;

  position: relative;
  height: 300px;
  margin-top: 40px;
  padding: 0 60px 40px;

  background-color: #f7e296;
}

.main-header.inner-page-header {
  height: auto;
}

.main-header-row-top {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  order: 2;

  margin-bottom: 30px;
}

.main-header-row-bottom {
  order: 3;
}


.main-footer {
  flex-shrink: 0;

  padding: 65px 0;
}


main {
  flex-grow: 1;
  flex-shrink: 0;
}

.inner-page {
  padding-top: 40px;
}

.page-title {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 60px;
}


.header-logo {
  margin-top: -20px;
  margin-bottom: 20px;
}


.main-navigation ul {
  margin: 0;
  list-style: none;
}

.main-navigation > ul {
  display: flex;

  padding: 0;
}

.main-navigation > ul > li:first-child {
  width: 540px;
}

.main-navigation .catalog-link {
  display: inline-block;
  padding: 10px 40px 10px 0;
}

.catalog-link:hover + .main-navigation-catalog,
.catalog-link:focus + .main-navigation-catalog {
  display: block;
}

.main-navigation a {
  display: inline-block;
  padding: 10px 20px;
  font: 700 18px 'Gilroy', 'Arial', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus {
  opacity: 0.6;
}

.main-navigation a:focus {
  outline: none;
}

.main-navigation a:active {
  opacity: 0.3;
}

.main-navigation-catalog {
  position: absolute;
  left: 0;
  z-index: 1;
  display: none;
  padding: 15px 60px;
  background-color: #f7e296;
}

.main-navigation-catalog:hover {
  display: block;
}

.main-navigation-catalog a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  font: 300 15px/36px 'Open Sans', 'Arial', sans-serif;
  letter-spacing: 0.01em;
  text-transform: none;
  color: #000000;
}

.main-navigation-catalog a:hover,
.main-navigation-catalog a:focus {
  opacity: 0.6;
}

.main-navigation-catalog a:active {
  opacity: 0.3;
}


.user-navigation {
  display: flex;
  align-items: center;

  flex-shrink: 0;

  width: 500px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-navigation li[hidden],
.user-navigation li.hidden {
  display: none;
}

.compare-link {
  margin-left: auto;
}

.user-navigation a {
  display: inline-block;
  padding: 0 20px 0 30px;
  line-height: 36px;
  color: #000000;
}

.user-navigation a:hover,
.user-navigation a:focus {
  opacity: 0.6;
}

.user-navigation a:focus {
  outline: none;
}

.user-navigation a:active {
  opacity: 0.3;
}

.user-navigation > li:last-child a {
  padding-right: 0;
}


.header-search input[type=text] {
  padding: 5px 40px;
  font: inherit;
  line-height: 36px;
  color: #000000;
  background-color: transparent;
  border-bottom: 2px solid transparent;
}

.header-search input[type=text]:hover {
  background-color: transparent;
}

.header-search input[type=text]:focus {
  box-shadow: none;
  border-color: #000000;
}

.header-search input[type=text] + .btn-search {
  display: inline-block;
  /*visibility: hidden;*/
}

.header-search input[type=text]:focus + .btn-search {
  /*visibility: visible;*/
}

.header-search input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.header-search input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.header-search input:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.header-search input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.header-search input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.header-search input:placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.header-search input:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.header-search input:hover::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.header-search input:hover:-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.header-search input:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.header-search input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.header-search input:hover:placeholder {
  color: rgba(0, 0, 0, 0.6);
}


.btn-search {
  padding: 5px 20px;
  font: inherit;
  line-height: 36px;
  color: #000000;
  background-color: transparent;
  border: 2px solid #000000;
  cursor: pointer;
}

.btn-search:hover,
.btn-search:focus {
  color: #ffffff;
  background-color: #000000;
}

.btn-search:focus {
  outline: none;
}

.btn-search:active span {
  opacity: 0.3;
}


.slider {
  margin-top: -32px;
  padding-right: 60px;
  padding-left: 60px;
}

.slider-item {
  position: relative;
}

.slider-item-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;

  position: relative;
  height: 500px;
}

.slider-item-title {
  max-width: 500px;
}

.slider-item-wrapper > p {
  flex-shrink: 0;

  max-width: 500px;
}

.slider-item-wrapper > table {
  display: block;
  width: 500px;
}

.slider-item-wrapper > table tbody {
  display: flex;
  align-items: flex-start;
}

.slider-item-wrapper > table tbody tr {
  display: flex;
  flex-direction: column-reverse;
}

.slider-item-wrapper > table tbody tr td {
  padding: 0;
}

.slider-item-wrapper > table tbody tr:not(:last-child) {
  flex-shrink: 0;

  width: 100px;
  margin-right: 60px;
}

.slider-item-wrapper > table tbody tr:last-child {
  flex-grow: 1;
}

.slider-item-image {
  align-self: stretch;
  order: 1;

  margin: 0;
}

.slider-item-wrapper > table tbody tr td:last-child {
  margin-bottom: 10px;
}

.slider-item-number {
  position: absolute;
  top: -90px;
  right: -12px;
  font: 700 179.2px/179.2px 'Gilroy', 'Arial', sans-serif;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.slider-item td:first-child {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
}

.slider-item td:nth-child(2) {
  font: 300 36px 'Gilroy', 'Arial', sans-serif;
}


.category-products {
  margin-bottom: 80px;
}

.category-products-list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  list-style: none;
  line-height: normal;
}

.category-products-list li {
  flex: 0 0 160px;
}

.category-products-list li a {
  display: flex;
  flex-direction: column-reverse;
}

.category-products-list h3 {
  margin: 0;
}

.products-list-image {
  position: relative;
  width: 160px;
  height: 160px;
  margin-bottom: 30px;
  background-color: #f7e296;
}

.products-list-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: center no-repeat;
}

.image-virtual::before {
  background-image: url('../img/popular-1.svg');
}

.image-monopode::before {
  background-image: url('../img/popular-2.svg');
}

.image-action-camera::before {
  background-image: url('../img/popular-3.svg');
}

.image-fitness-brace::before {
  background-image: url('../img/popular-4.svg');
}

.image-smart-watch::before {
  background-image: url('../img/popular-5.svg');
}

.image-quadrupter::before {
  background-image: url('../img/popular-6.svg');
}

.category-products-list a:hover .products-list-image,
.category-products-list a:focus .products-list-image {
  background-color: #f0c52e;
}

.category-products-list a:focus {
  outline: none;
}

.category-products-list a:active h3,
.category-products-list a:active .products-list-image::before {
  opacity: 0.3;
}


.services {
  margin-bottom: 100px;
  padding: 70px 0;
  background-color: #e5e5e5;
}

.services-wrapper {
  display: flex;
  align-items: center;

  margin-top: -150px;
}

.services-list-anchor {
  flex: 0 0 277px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 319px;
  margin: 0;
  padding: 0;
  list-style: none;
  border-right: 7px solid #000000;
}

.services-list-anchor a {
  position: relative;
  display: inline-block;
  padding: 5px 24px;
  font: 700 18px 'Gilroy', 'Arial', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.services-list-anchor a span {
  position: relative;
}

.services-list-anchor a::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: block;
  height: 8px;
  background-color: #f0c52e;
  transform: translateY(-50%);
  transition: height 0.2s ease-in-out;
}

.services-list-anchor a:focus {
  outline: none;
}

.services-list-anchor a:hover::before,
.services-list-anchor a:focus::before {
  height: 100%;
}

.services-list-anchor a:active {
  color: #f7e184;
}

.services-list-anchor a:active::before {
  background-color: #000000;
}

.services-list {
  list-style: none;
  margin: 0;
}

.services-list-image {
  background-position: center;
  background-repeat: no-repeat;
}

.image-delivery {
  width: 136px;
  height: 164px;
  background-image: url('../img/delivery.svg');
}

.image-guarantee {
  width: 171px;
  height: 194px;
  background-image: url('../img/warranty.svg');
}

.image-credit {
  width: 156px;
  height: 186px;
  background-image: url('../img/credit.svg');
}


.brands {
  margin-bottom: 100px;
}

.brands-list {
  display: flex;
  justify-content: space-around;

  margin: 0;
  list-style: none;
}

.brands-list svg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.2;
  transition: all 0.4s ease-in-out;
}

.brand-dji svg {
  background-image: url('../img/brand-dji.png');
}

.brand-sp-gadgets svg {
  background-image: url('../img/brand-sp-gadgets.png');
}

.brand-go-pro svg {
  background-image: url('../img/brand-go-pro.png');
}

.brand-vive svg {
  background-image: url('../img/brand-vive.png');
}

.brands-list a:hover svg,
.brands-list a:focus svg {
  opacity: 1;
}

.brands-list a:hover svg image,
.brands-list a:focus svg image {
  opacity: 0;
}

.brands-list a:focus {
  outline: none;
}


.main-bottom-wrapper {
  display: flex;
}

.main-about-us h2,
.main-contacts h2 {
  position: relative;
  margin-top: 0;
  margin-bottom: 45px;
  padding-top: 40px;
}

.main-about-us h2:before,
.main-contacts h2:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.main-about-us strong {
  font: 700 16px/40px 'Gilroy', 'Arial', sans-serif;
  letter-spacing: 0;
  color: #000000;
}

.main-about-us {
  flex: 0 0 560px;
  margin-right: 40px;
}

.main-contacts {
  flex: 0 0 560px;
}

.main-contacts iframe {
  border: 0;
}


.main-footer {
  color: #ffffff;
  background-color: #464646;
}

.main-footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  margin-bottom: 30px;
}

.main-footer-middle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-bottom: 30px;
}

.main-footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-footer-bottom::before {
  flex-shrink: 0;

  content: '';
  display: block;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.main-footer a {
  color: #ffffff;
}


.footer-logo {
  margin: 0;
}

.footer-logo a:hover,
.footer-logo a:focus {
  opacity: 0.6;
}

.footer-logo a:focus {
  outline: none;
}

.footer-logo a:active {
  opacity: 0.3;
}


.footer-user-navigation {
  display: flex;

  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-user-navigation a {
  display: inline-block;
  padding: 0 20px 0 30px;
  line-height: 36px;
  opacity: 0.7;
}

.footer-user-navigation a:hover,
.footer-user-navigation a:focus {
  opacity: 1;
}

.footer-user-navigation a:focus {
  outline: none;
}

.footer-user-navigation a:active {
  opacity: 0.3;
}


.footer-main-navigation {
  flex: 1 0 50%;
  order: 2;

  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.footer-main-navigation li {
  display: inline-block;
}

.footer-main-navigation a {
  font: 700 18px 'Gilroy', 'Arial', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-main-navigation a:hover,
.footer-main-navigation a:focus {
  opacity: 0.6;
}

.footer-main-navigation a:focus {
  outline: none;
}

.footer-main-navigation a:active {
  opacity: 0.3;
}


.footer-social-list {
  flex: 0 0 50%;
  align-items: center;

  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
  text-align: center;
}

.footer-social-list li {
  display: inline-block;
  line-height: 1;
}

.footer-social-list li:not(:last-child) {
  margin-right: 20px;
}

.footer-social-list a {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: center no-repeat;
  opacity: 0.3;
}

.footer-social-list a:hover,
.footer-social-list a:focus {
  opacity: 0.6;
}

.footer-social-list a:focus {
  outline: none;
}

.footer-social-list a:active {
  opacity: 0.1;
}

.footer-social-list .facebook-link a {
  background-image: url('../img/fb.svg');
}

.footer-social-list .instagram-link a {
  background-image: url('../img/instagram.svg');
}

.footer-social-list .twitter-link a {
  background-image: url('../img/twitter.svg');
}


.footer-address,
.footer-phone {
  margin: 0;
  letter-spacing: 0;
}

.footer-address {
  flex: 0 0 25%;
}

.footer-phone {
  flex: 0 0 25%;
  order: 3;

  text-align: right;
}

.footer-phone a:hover,
.footer-phone a:focus {
  text-decoration: underline;
}

.footer-phone a:focus {
  outline: none;
}


.footer-copyright {
  flex: 0 0 80px;

  margin: 0;
  text-align: right;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  opacity: 0.6;
}

.footer-copyright a:focus {
  outline: none;
}

.footer-copyright a:active {
  opacity: 0.3;
}


.message-modal label {
  font: 700 18px/18px 'Gilroy', 'Arial', sans-serif;
  letter-spacing: 0;
}


.map-modal iframe {
  border: 0;
}


.breadcrumbs {
  margin: 0 0 45px 60px;
  padding: 0;
  list-style: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 36px;
}

.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs li:last-child {
  opacity: 0.3;
}

.breadcrumbs a {
  color: #000000;
  opacity: 0.3;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  opacity: 0.6;
}

.breadcrumbs a:focus {
  outline: none;
}

.breadcrumbs a:active {
  opacity: 0.1;
}


.inner-wrapper {
  position: relative;
  display: flex;
}

.inner-wrapper::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.08);
}


.filters-wrapper {
  flex: 0 0 200px;

  margin-right: 70px;
  margin-left: auto;
  padding-left: 60px;
}

.catalog-inner-wrapper {
  flex: 0 0 850px;

  width: 850px;
  padding-right: 20px;
  padding-left: 70px;
}


.filter-left-wrapper,
.filter-right-wrapper {
  flex-grow: 1;
}

.filter-left-wrapper {
  background-color: #eeeeee;
}

.filters {
  flex: 0 0 200px;

  width: 350px;
  background-color: #eeeeee;
}


.filters h3,
.sorting h3 {
  display: table-cell;
  height: 70px;
  vertical-align: middle;
}

.filters h3 {
  width: 350px;
  margin: 0;
  padding-right: 70px;
  padding-left: 80px;
}

.filters form {
  width: 350px;
  padding: 70px 70px 0 80px;
}









.filters fieldset {
  margin: 0 0 40px;
  padding: 0;
  border: 0;
}

.filters legend {
  width: 100%;
  margin-bottom: 15px;
  padding-top: 10px;
  font: 700 18px 'Gilroy', 'Arial', sans-serif;
  letter-spacing: 0.01em;
  border-top: 2px solid #000000;
}

.filters label {
  font-size: 14px;
  line-height: 40px;
}

.filters .filters-price label {
  line-height: 22px;
  letter-spacing: 0;
  opacity: 0.2;
}

.filters-color {
  margin: 0;
  list-style: none;
}

.filters-bluetooth {
  margin: 0;
  list-style: none;
}


.sorting-list {
  position: relative;
  display: table-cell;
  margin: 0;
  list-style: none;
  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;
}

.sorting-list li {
  display: inline-block;
}

.sorting-list a {
  color: #000000;
  opacity: 0.3;
}

.sorting-list .sorting-list-current a,
.sorting-direction .sorting-direction-current a{
  opacity: 1;
}

.sorting-list a:hover,
.sorting-list a:focus {
  opacity: 0.6;
}

.sorting-list a:focus {
  outline: none;
}

.sorting-list a:active,
.sorting-direction a:active {
  opacity: 1;
}

.sorting-direction {
  margin: 0;
  list-style: none;
}

.sorting-direction a {
  opacity: 0.2;
}

.sorting-direction a:hover,
.sorting-direction a:focus {
  opacity: 0.4;
}

.sorting-direction a:focus {
  outline: none;
}


.catalog-inner {
  padding-top: 70px;
  padding-bottom: 70px;
}

.catalog-inner-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-inner-list li {
  flex: 0 0 360px;

  position: relative;
  margin-bottom: 40px;
}

.catalog-inner-list a {
  display: flex;
  flex-direction: column;
}

.catalog-inner-list h4 {
  order: 2;

  margin: 0;
  line-height: normal;
}

.catalog-inner-price {
  font-size: 16px;
  line-height: normal;
}

.catalog-inner-image {
  position: relative;
  margin-top: 0;
  margin-bottom: 35px;
}

.catalog-item-label {
  position: absolute;
  top: 30px;
  right: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-size: 14px;
  line-height: normal;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.btn-compare {
  font: inherit;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.01em;
  background-color: transparent;
  border: 0;
  opacity: 0.5;
  cursor: pointer;
}

.btn-compare:hover,
.btn-compare:focus {
  opacity: 1;
}

.btn-compare:focus {
  outline: none;
}

.btn-compare:active {
  opacity: 0.2;
}


.catalog-inner-pagination {
  display: flex;
  justify-content: space-between;

  background-color: rgba(0, 0, 0, 0.08);
}

.catalog-inner-pagination a {
  display: inline-block;
  font: 700 16px 'Gilroy', 'Arial', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  opacity: 0.3;
}

.catalog-inner-pagination .inner-pagination-list-current a {
  opacity: 1;
}

.catalog-inner-pagination li:not(.inner-pagination-list-current) a:hover,
.catalog-inner-pagination li:not(.inner-pagination-list-current) a:focus {
  opacity: 0.6;
}

.catalog-inner-pagination a:focus {
  outline: none;
}

.catalog-inner-pagination a:active {
  opacity: 1;
}

.inner-pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.inner-pagination-list li {
  display: inline-block;
}

.inner-pagination-list a {
  padding: 25px 15px;
}

.catalog-inner-pagination a.pagination-forwback-link {
  padding: 25px 30px;
  opacity: 1;
}

.catalog-inner-pagination a.pagination-forwback-link:hover,
.catalog-inner-pagination a.pagination-forwback-link:focus {
  background-color: #d9d9d9;
}

.catalog-inner-pagination a.pagination-forwback-link:active span {
  opacity: 0.3;
}


/* Elements -------------------------------------------- */
.button {
  position: relative;
  display: inline-block;
  padding: 5px 40px;
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.button span {
  position: relative;
}

.button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: block;
  height: 8px;
  background-color: #f0c52e;
  transform: translateY(-50%);
  transition: height 0.2s ease-in-out;
}

.button:hover::before,
.button:focus::before {
  height: 100%;
}

.button:focus {
  outline: none;
}

.button:active span {
  opacity: 0.3;
}


.header-logo a:hover,
.header-logo a:focus {
  opacity: 0.6;
}

.header-logo a:focus {
  outline: none;
}

.header-logo a:active {
  opacity: 0.3;
}


.modal-close {
  width: 55px;
  height: 55px;
  background: url('../img/modal-close.svg') center no-repeat;
  border: 0;
  opacity: 0.5;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:focus {
  outline: none;
}

.modal-close:active {
  opacity: 0.3;
}


input[type=text],
input[type=password],
input[type=email],
textarea {
  padding: 17px 20px;
  font: normal 14px/18px 'Open Sans', 'Arial', sans-serif;
  color: #464646;
  background-color: rgba(229, 229, 229, 0.5);
  border: 0;
}

input[type=text]:hover,
input[type=password]:hover,
input[type=email]:hover,
textarea:hover {
  background-color: rgba(229, 229, 229, 0.8);
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
textarea:focus {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 3px #f0c52e;
  outline: none;
}

input[type=text]:invalid,
input[type=password]:invalid,
input[type=email]:invalid,
textarea:invalid {
  background-color: rgba(237, 181, 181, 0.5);
}

input[type=text]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

input[type=text]::-moz-placeholder,
input[type=password]::-moz-placeholder,
input[type=email]::-moz-placeholder,
textarea::-moz-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

input[type=text]:-moz-placeholder,
input[type=password]:-moz-placeholder,
input[type=email]:-moz-placeholder,
textarea:-moz-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

input[type=text]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}


html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

*, *::before, *::after {
  box-sizing: inherit;
}


img {
  max-width: 100%;
}


.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}


.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
